<div class="container py-4">
    <h1>Sobre nosotros</h1>
    <p class="lead">Mi Tiendita es una tienda ficticia creada con Node.js, Express y Handlebars.</p>
    <img src="/assets/img/logo.png" alt="Logo Mi Tiendita" class="img-fluid mt-3" style="max-width:300px;">
</div>